services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    container_name: nepali-sentiment-api
    ports:
      - "8000:8000"
    restart: unless-stopped

  ui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.ui
    container_name: nepali-sentiment-ui
    environment:
      - API_URL=http://api:8000/predict   # talk to the "api" container
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: unless-stopped
